.card.small {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.card.big {
  position: relative;
  display: inline-block;
}

.card.big.sideways {
  transform: rotate(90deg);
}

.card.element {
  display: inline-block;
  margin: 0;
}

.card .box {
  position: absolute;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.5);

}


