html, body {
  margin:   0;
  padding:  0;
  width:    100%;
  height:   100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: row;
  background-color: #333;
}

/* -------------------------------------------------- */
.lhs {
  height: 100%;
  width:  calc(var(--cardWidth) * 0.9px);
}

.hand {
  width: 100%;
  height: calc(100% - var(--smallCardHeight) * 1px);

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

  overflow-x: hidden;
  background-color: rgba(0,0,0,0.5);
}

/* -------------------------------------------------- */
.mid {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(var(--cardHeight) * 1px);
}

.card-view {
  position: relative;
  width:  100%;
  height: calc(var(--cardHeight) * 1px);
  background-color: rgba(0,0,0,0.5);
}

.card-view .preview {
  position: absolute;
  z-index: 2;
}

.card-view .selected {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.card-view .selected .sideways-question {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  background-color: rgba(0,0,0,0.80);
  color: white;
  font-size: smaller;
  width: 1em;
  height: 1em;
  text-align: center;
}



/* -------------------------------------------------- */
.rhs {
}


