#map {
  left:0;
  top: 0;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow-x: scroll;
  overflow-y: scroll;
}

.tile {
  pointer-events: none;
  width:  var(--tileSize_px);
  height: var(--tileSize_px);
  background-size: var(--tileSize_px) var(--tileSize_px);
  position: absolute;
}

.tile .location {
  position: absolute;
  pointer-events:auto;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  overflow: visible;
}

.tile .location .hex.question {
  background-color: rgba(0,0,0,0.2);
}

.tile .location .hex {
  position: absolute;
  left: 0;
  top:  0;
  width:  var(--hexWidth_px);
  height: var(--hexHeight_px);
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}


.tile .location.Center {
  left: var(--hexWidth_px);
  top:  calc(var(--tileSize_px) * 0.3);
}

.tile .location.E {
  left: calc(2   * var(--hexWidth_px));
  top:  calc(0.3 * var(--tileSize_px));
}

.tile .location.W {
  left: 0;
  top:  calc(0.3 * var(--tileSize_px));
}

.tile .location.NE {
  left: calc(1.5 * var(--hexWidth_px));
  top:  0;
}

.tile .location.NW {
  left: calc(0.5 * var(--hexWidth_px));
  top:  0;
}

.tile .location.SE {
  left: calc(1.5 * var(--hexWidth_px));
  top:  calc(0.6 * var(--tileSize_px));
}

.tile .location.SW {
  left: calc(0.5 * var(--hexWidth_px));
  top:  calc(0.6 * var(--tileSize_px));
}


.character {
  position: absolute;
  width: var(--charWidth_px);
  height: var(--charHeight_px);
  background-size: var(--charWidth_px) var(--charHeight_px);
  left: calc( (var(--hexWidth_px)  - var(--charWidth_px)) / 2);
  top:  calc(var(--hexHeight_px) - var(--charHeight_px));
  z-index: 3;
}


.tile .hex-help {
  position: absolute;
  left: var(--hexWidth_px);
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: white;
  color: black;
  border: 0.1em solid black;
  border-radius: 0.5em;
  box-shadow: 0.25em 0.25em 0.2em 0.2em rgba(0,0,0,0.5);
}

.tile .hex-help .name {
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  white-space: nowrap;
}

.tile .hex-help .name .icon {
  border: solid black 0.1em;
  border-radius: 1em;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
}

.tile .hex-help .name .label {
  display: inline-block;
  vertical-align: middle;
}

.tile .hex-help .item {
  margin: 0.25em 0.5em 0.25em 0.5em;
}


.ruins {
  display: inline-block;
  position: relative;
  border: 0px;
  background-size: var(--ruinsWidth_px) var(--ruinsHeight_px);
  width:  var(--ruinsWidth_px);
  height: var(--ruinsHeight_px);
  left: calc( (var(--hexWidth_px) - var(--ruinsWidth_px)) / 2 );
  top:  calc( (var(--hexHeight_px) - var(--ruinsHeight_px)) / 2 );
}

