.source {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #003;
}

.source .group {
  margin-left: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.die {
  box-sizing: border-box;
  width:            var(--dieSize_px);
  height:           var(--dieSize_px);
  border-radius:    calc(var(--dieSize) * 0.1px);
  background-size:  var(--dieSize_px) var(--dieSize_px)
}

.die.Red   { background-image: url(../img/mana/red.png); }
.die.Blue  { background-image: url(../img/mana/blue.png); }
.die.Green { background-image: url(../img/mana/green.png); }
.die.White { background-image: url(../img/mana/white.png); }
.die.Gold  { background-image: url(../img/mana/gold.png); }
.die.Black { background-image: url(../img/mana/black.png); }
